<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The ROI Shop | Viewed ROI</title>
	
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#fff">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#fff">
					<tr>
						<td><img src="http://theroishop.com/admin/img/logo.png" /></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>The %name% created by %creator% was just viewed by %ipaddress%</h3>
						<p class="lead">Your ROI was just viewed, below is a breakdown of its stats:<br><br>
							<span style="margin-left:20px;">Total Views: %views% </span><br>
							<span style="margin-left:20px;">Unique Views: %unique% </span></p>
						<br>
						<!-- Callout Panel -->
						<p class="callout">
							Visit your ROI by clicking here! <a href="https://www.theroishop.com/enterprise/3/?roi=%link%">Click here to view! &raquo;</a>
						</p><!-- /Callout Panel -->					
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Some additional IP Information:</h5>												
												<p>IP Address: <strong>%ipaddress%</strong><br/>
                City: <strong>%city%</strong><br/>
				State: <strong>%state%</strong><br/>
				Country: <strong>%country%</strong><br/>
				Additional Information provided by DB-IP API<br/>
				For even more IP information visit: <a href="http://db-ip.com/%ipaddress%">http://db-ip.com/%ipaddress% &raquo;</a></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table>

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content 
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>