.content-bubble, .pdf-page-header, .pdf-section-header, .pdf-page-header {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(23, 78, 151);
}

.right {
	background-color: rgb(149, 201, 67);
}

.point-highlight {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(46, 153, 207);
	font-size: 16px;
}

.point-highlight h3 {
	font-size: 18px !important;
}

.grandtotal, .pdf-section-total {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 68px;
}

.savingsTable {
	background-color: rgb(203,203,196);
}

.company-name {
	font-weight: 900;
	text-align:center;
	font-size:36px;
	font-family: Arial;
	line-height: 40px;
	margin-bottom: 5px;
	font-variant: none;
}

.return-on-investment-title {
	text-align:center;
	font-size:36px;
	font-family: Arial;
	line-height: 40px;
	font-weight: 900;
	margin-top: 0px;
}

blockquote {
	font-style: italic;
}