.navbar-header {
    padding: 15px 10px 15px 25px;
}
.fa-question-circle{
    color: blue;
}
.input-group-addon > .fa-calculator{
    color: green;
}
#wrapper > .navbar-default{
    top: 0;
}
.input-group > input {
    border-right: 0;
}
.input-group > .input {
    background-color: #fff;
}
.input-group > .append {
    border-left: 1px solid rgb(197, 198, 199);
}
.padding-bottom-25{
    padding-bottom: 25px;
}
.padding-top-25{
    padding-top: 25px;
}
.txt-white{
    color: white;
}
.tooltipstered{
    color: #428bca;
    cursor: pointer;
}